.blogdetails {
  min-height: 100vh;
  margin-left: 120px;
  .time {
    color: #767676;
  }
  .lastest-recipes {
    border: 1px solid #bebebe;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    background-color: #ffffff;
    margin: 0 0 25px;
    .title {
      width: 100%;
      padding: 8px 20px;
      font-weight: bold;
      border-bottom: 1px solid #bebebe;
    }
    .lastest-recipes-content {
      padding-top: 15px;
      padding-bottom: 15px;
      .col-md-6 {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 10px;
      }
      .card {
        height: 120px;
        overflow: hidden;
        border: unset;
        .card-img-top {
          height: 80px;
        }
        .card-body {
          padding: 10px 0;
          .card-title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .card-text {
            margin-bottom: 0;
            font-size: 12px;
            color: #767676;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
  .comments {
    border: 1px solid #bebebe;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    background-color: #ffffff;
    margin: 0 0 25px;
    .comments-title {
      width: 100%;
      padding: 8px 20px;
      font-weight: bold;
      border-bottom: 1px solid #bebebe;
    }
    .comments-content {
      padding: 15px;
      border-bottom: 1px solid#9b9b9b1a;
      border-width: 90%;
      .comments-content-avatar {
        //   width: 35px;
        //   height: 35px;
        padding-left: 15px;
        flex: 0 0 25%;
        max-width: 25%;
      }
      .comments-content-title {
        font-weight: bold;
        font-size: 15px;
        &:hover {
          color: #f47500;
        }
      }
      .comments-content-text {
        color: #47474a;
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .blogdetails {
    margin-left: unset;
  }
}
