.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.dashboard {
  /* Floating add button */
  .mymodal {
    width: 90vw;
  }
  .btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: transparent;
    border: none;
  }

  .btn-floating:hover {
    background: transparent;
  }

  .btn-floating:focus,
  .btn-floating:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  /* Add new post tooltip */
  .tooltip {
    background: transparent;
  }

  .tooltip .arrow::before {
    border-left-color: #78c2ad;
  }

  .tooltip-inner {
    background: #78c2ad;
  }

  /* Post border thicker */
  .border-success,
  .border-warning,
  .border-danger {
    border-width: 2px;
  }
}
